.app-create-project {
	//padding-top: 20px;

	&__header {
		margin-bottom: 20px;
	}

	&__step-header {
		margin-bottom: 10px;
	}
	.btn + .btn {
		margin-left: 10px;
	}
    &__loading {
        margin-left: 10px;
        i {
            animation: rotate 1s linear infinite;
            font-size: 20px;
        }
    }
}
