@import "app/styles/variables";

.sb-method-description{
    .tab-content{
        padding-top: 10px;
    }
    .required-icon{
        color: $successColor;
        display: block;
        text-align: center;
    }
}
