@import "app/styles/variables";

.sb-method-invoker{
    &__result{
        padding: 10px;
        border: 1px solid $borderColor;
    }
    &__loading{
        i{
            animation: rotate 1s linear infinite;
        }
        margin: 0 auto;
        text-align: center;
    }
    .tab-content{
        padding-top: 10px;
    }
}



@keyframes rotate{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}
